.home-hero {
  background-color: #4f5de4;
  background-image: url("../../../assets/hero/banner-bg-1.png");
  background-repeat: no-repeat;
  background-position-x: right;

  width: 100%;
  padding: 0 5vw;
  color: #fff;
  display: flex;
  align-items: center;

  &>img {
    position: absolute;
    z-index: 2;
    animation: zoom-in-home-img 2s infinite both;
  }

  .star {
    right: 18vw;
    top: 8vw;
  }

  .world {
    right: 11vw;
    top: 12vw;
    -webkit-animation: spin 10s linear infinite;
    -moz-animation: spin 10s linear infinite;
    animation: spin 10s linear infinite;
  }

  .hat {
    right: 45vw;
    top: 12vw;
    animation: up-down-home-img 2s infinite both;
  }

  .book {
    right: 10vw;
    bottom: 2vw;
    animation: up-down-home-img 2s infinite both;
  }

  .spiralArrow {
    right: 57vw;
    bottom: 10vw;
    animation: up-down-home-img 2s infinite both;
  }

  .banner-video {
    position: absolute;
    right: 6vw;
    top: 45%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      position: absolute;
      font-size: 3vw;
    }

    .box1,
    .box2 {
      position: absolute;
      border: 1px solid #fff;
      border-radius: 50%;
      animation: circle-out 3s infinite both;
    }

    .box2 {
      animation-delay: 1s;
    }

    @keyframes circle-out {
      0% {
        padding: 4vw;
      }

      100% {
        padding: 6vw;
        opacity: 0.1;
      }
    }
  }

  .join {
    position: absolute;
    z-index: 3;
    background-color: #4f5de4;
    right: 38vw;
    width: 15vw;
    bottom: 3vw;
    border-radius: 1vw;

    &:hover {
      .border-translate {
        transform: translate(0, 0);
      }
    }

    .border-translate {
      width: inherit;
      position: absolute;
      border-radius: 1vw;
      height: 9.4vw;
      border: 1px solid #fff;
      transform: translate(1vw, 1vw);
      transition: transform .3s ease-in-out;


    }

    .profile {
      z-index: 4;
      position: absolute;
      top: -3.5vw;
      left: 0vw;
      padding: 0.5vw;
      background-color: #4f5de4;
      border-radius: 50%;
    }

    .text-profile {
      border-radius: 1vw;
      padding: 2vw 2vw 1.5vw 2vw;
      background-color: #fff;
      clip-path: polygon(0% 0%,
          100% 0%,
          100% 80%,
          75% 100%,
          0% 100%);
    }

    h2 {
      color: #000;
      font-weight: 600;
      font-size: 1.2vw;
    }

    p {
      font-size: 1vw;
      padding: 0.5vw 0;
      color: #c9c4c7;
    }

    button {
      letter-spacing: 1px;
      padding: 0.5vw 0.7vw;
      font-size: 1vw;
      border: none;
      border-radius: 0.5vw;
      color: #fff;
      background: linear-gradient(to left, #f58b35 50%, #f57005 50%);
      background-size: 200% 100%;
      background-position: left bottom;
      transition: all 1s ease;
      display: flex;
      align-items: center;

      svg {
        margin-left: 0.5vw;
      }

      &:hover {
        // transform: skewX(-22deg);
        background-position: right bottom;
      }
    }
  }

  .text {
    z-index: 2;

    h1 {
      width: 39vw;
      font-size: 5vw;
      font-weight: 700;
    }

    p {
      width: 30vw;
      font-size: 1vw;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: 2vw;
    }

    .buttons {
      display: flex;

      button {
        padding: 1.2vw 1.5vw;
        font-size: 1.2vw;
        border: none;
        border-radius: 0.5vw;
        color: #fff;
        margin: 2vw 0;
        margin-right: 1vw;
        display: flex;
        align-items: center;

        svg {
          margin: 0 0.5vw;
        }
      }

      .take {
        background: linear-gradient(to left, #f58b35 50%, #f57005 50%);
        background-size: 200% 100%;
        background-position: left bottom;
        transition: all 1s ease;

        &:hover {
          // transform: skewX(-22deg);
          background-position: right bottom;
        }
      }

      .find {
        background: linear-gradient(to left,
            rgba(#fff, 0.2) 50%,
            transparent 50%);
        background-size: 200% 100%;
        background-position: left bottom;
        transition: all 1s ease;

        &:hover {
          // transform: skewX(-22deg);
          background-position: right bottom;
        }

        border: 1px solid #fff;
      }
    }
  }

  .white-circle {
    background: linear-gradient(to bottom,
        rgba($color: #fff, $alpha: 0.1),
        transparent);
    left: -6vw;
    top: 8vw;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    position: absolute;

    // .rtt{
    //     po
    //     left: -6vw;
    // top: 4vw;
    // width: 40vw;
    // height: 40vw;
    // border-radius: 50%;
    // animation: circle 5s linear infinite;

    // .inner{
    //     border: 1px solid #fff;
    //     width: 1vw;
    // }
    // }

    //     @keyframes circle {
    //       from {
    //         -webkit-transform: rotateZ(0deg);
    //       }
    //       to {
    //         -webkit-transform: rotateZ(360deg);
    //       }
    //     }
  }

  .white-circle-animated {
    background: linear-gradient(to bottom,
        rgba($color: #fff, $alpha: 0.1),
        transparent);
    width: 65vw;
    height: 65vw;
    top: -1vw;
    left: -12vw;
    animation: zoom-in 2s both infinite;
  }

  .banner-image-circle {
    margin: 3vw 0;
    margin-left: 8vw;
    background: linear-gradient(to bottom right, #f58b35, rgba(#4f5de4, 0.7));
    width: 40vw;
    height: 40vw;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
      width: 35vw;
      height: 35vw;
    }
  }
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoom-in-home-img {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes up-down-home-img {
  0% {
    transform: translateX(-0.5vw);
    transform: translateY(-0.5vw);
  }

  50% {
    transform: translate(0);
  }

  100% {
    transform: translateY(-0.5vw);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}